/* ***** 공통 스타일 ***** */
.header,
.footer {
  background-color: rgb(129, 129, 129);
  color: white;
  padding: 20px;
  text-align: center;
}
.네비게이션 {
  background-color: aliceblue;
  padding: 10px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
a {
  text-decoration: none; /* 밑줄 제거 */
  color: rgb(50, 50, 150);
  font-weight: bold; /* 글자 표현 두께 변경 */
  padding: 10px;
}
body {
  background-color: #f9f9f9;
}
.특징 {
  display: inline-block; /* 하나의 블록으로 만들어주기 */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px; /* 공간 설정 */
  box-shadow: 0 0 10px #8d8d8d;
}

/* ***** 메뉴.html 에 작성한 stylesheet ***** */
.main {
  width: 80%;
  margin: 20px auto;
}
.menu {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.item {
  text-align: center;
}
h1 {
  text-align: center;
}
img {
  width: 200px;
  border-radius: 100px;
}

/* ***** 주문하기.html 에 작성한 stylesheet ***** */
.메인-주문하기 {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 20px auto; /* auto의 경우 가운데 정렬과 같은 나열을 사용할 때 쓰임 */
  border-radius: 10px;
  box-shadow: 0 0 10px #8d8d8d;
}
.imgMain {
  width: 300px;
  height: 300px;
}
.imgSub {
  width: 100px;
  height: 100px;
}
.textmain {
  text-align: center;
}

/* ***** 배달주문.html 에 작성한 stylesheet ***** */
.배달주문 {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #8d8d8d;
  padding: 10px;
}
